@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'poppins', sans-serif;
    background-color: #0f0f0f;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-image: url(images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #040404;
    border-bottom: 1px solid #ffffff29;
}


.logo{
    color: #a70a15;
    font-size: 25px;
    font-weight:800;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #e1160d;
} 

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    display: none;
    cursor: pointer;
}

.header-info h1 {
    color: #e1160d;
    text-transform: uppercase;
    font: size 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

.header-info p {

    color: #ffffff;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;

}

.btn-1 {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #e1160d;
    font-size: 20px;
    color:#ffffff;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #a70a15;
}

.gym {
    padding: 100px 0 ;
    display: flex;
    align-items: center;
}

.gym-1 {
    width: 50%;
    padding-right: 150px;
}

.gym-1 h2 {
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}

.gym-1 p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35vmax;
}

.gym-1 span{
    color: #a70a15;
}

.img-1, .img-2{
    width: 250px;
}
